$protean-gray: #a4a8b1;
$protean-black: #24272a;
$protean-dark-gray: #616674;
$protean-white: #f7f9fa;
$protean-purple-navy: #3A4669;
$protean-light-gray: #A4A8B1;
$protean-candy-pink: #DC6E6E;
$protean-black-coral: #616674;
$protean-june-bud: #BFE85F;
$protean-anti-flash-white: #F7F9FA;
$protean-light-green: #BCD87A;
$protean-dark-yellow: #EFC675;
$protean-orange-yellow: #FFD460;
$protean-red: #D96161;
$protean-blue: #578EF7;
$protean-silver-sand: #C4C7CF;
$protean-stroke: #EAEEEF;
$protean-header: #283049;

:root {
  --protean-gray: #{$protean-gray};
  --protean-dark-gray: #{$protean-dark-gray};
  --protean-black: #{$protean-black};
  --protean-white: #{$protean-white};
}